body {
    background:url(images/topgrad.gif) repeat-x #fff;
    margin:0;
    padding:0;
	color: #516463;
	text-align:center;

}

a, a:hover, a:link, a:visited, a:active, a:focus {
	text-decoration: none;
	font-style: italic;
	color: #516463;
}
a:hover, a:focus { color:#1F292A; }

img { border: 0px; }
hr { color:#ccc; }

h1, h2, h3 {
    color: rgb(56, 67, 68);
    display: inline;
	font: 430% Georgia, "Palatino Linotype", Palatino, "Book Antiqua", "Times New Roman", Times, serif;
}
h2, h3 { font-size:200%; margin:0; }
h2 { text-transform:lowercase; color:rgb(187, 194, 187); }
h3 { display:block; }

em { color:rgb(187, 194, 187); }
strong { text-decoration: underline; font-style: none; font-size }

td { text-align:center; }

td.portfolio_img a img {
	width:160px;
	height:160px;
	margin:1px 0 0 4px;
}
td.portfolio_img {
	height:194px;
	background: url(http://picasaweb.google.com/f/img/transparent_album_background.gif) no-repeat left;
}
td.portfolio_txt {
	text-align:center;
	font-family:arial,sans-serif;
	font-size:11px;
}
td.portfolio_text a {
	color:#4D4D4D;
	font-weight:bold;
	text-decoration:none;
}

#copyright {
	font:normal 11px tahoma,verdana;
/*	color: #000;*/
	padding: 0;
	width:720px;
}

#world {
    text-align: center;
    font:76% Verdana,sans-serif;
	color: #5e5e5e;
    padding:100px 0;
	max-width:920px;
}

#container {
    text-align:left;
    margin:auto;
    width:85%;
    font-size:90%;
}

#menu {
    color:rgb(81, 100, 99);
	overflow: hidden;
	margin: 0 0 0 0.75em;
	padding: 0.0em;
	text-align: left;
}
#menu ul { text-align: center; margin: 0; padding: 0; list-style-type: none; }
#menu li { display: inline; margin: 0; }
#menu li a {
	float: left; display: block;
	text-decoration: none;
	margin: 0;
	padding: .07em .6em;
}

#main {
	float: none;
	margin: 1.2em;
	padding: 1.2em;
	padding-top: 0.5em;
	width: 80%;
	height: 41%;
	text-align: left center;
}

#footer {
	position: block relative;
	margin: 1.5em auto;
	padding: 1.5em auto;
	text-align: left;
	font-size: .85em;
	float: none;
}

#l_content {
  float:left;
  width: 35%;
  text-align: right;
  padding-right: 1.2em;
}
#r_content {
  padding-left: 1.2em;
  border-left: 1px solid black;
  float:left;
  width:35%;
  text-align: left;
}

.float_right { float: right; }
.float_left { float: left; }

.pager { 
	background-color:#eee; 
	border:#ccc 3px solid;
	padding:3px;
	text-align:center;
	font:normal 12px verdana;
}
.lhead { 
	background-color:#eee; 
	border-top:#aaa .03em solid;
	border-bottom:#aaa .03em solid;
	padding:.03em;
	font:bold 14px verdana;
}
.lbullet {
	padding: 0 0 0 2.55em;
}
.lpart { 
	background-color:#f0f0f0; 
	border-left:#ccc 2px solid;
	padding-bottom:25px;
}
.lpage { 
	font:normal 12px verdana;
}
.lcount { 
	background-color:#999; 
	color:#fff;
	padding:2px;
	font:bold 12px verdana;
}
.aemphasis{
	color:#009;
	font-weight:bold;
}
.hideDiv{ display: none;   }
.showDiv{ display: inline; }